.hero__content h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px; 
}

.hero__content {
  padding-top: 80px;
}

.learn__text {
  color: #1363DF;
}

.hero__img {
  margin-top: 85px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search input {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #05112383;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

.search__btn {
  background-color: #1363DF;
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 40%;
  padding: 2% 10px;
}