.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}

.search input {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #1ab59644;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

.search__btn {
  background-color: #17bf9e;
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 40%;
  padding: 2% 10px;
}